/*
    Ed Alderman
    CSS for Homework 3

    This is a VERY simple stylesheet for homework 3
    It divides the page into three rows:
        a header,
        a form,
        and a space to render the multiplaction table.

    The first row and first column of the multiplcation table
    stay in place while scrolling and are colored to highlight this.

    This is and exceedingly rough looking application.
    I ran out of time to make it more attractive.
*/

body {
    background-color: gray;
    text-align: center;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    grid-row: 1;
    padding: 10px;
}

form {
    display: block;
    text-align: left;
    padding: 10px;
}

form table {
    border: 1px solid black;
}

#result {
    grid-row: 3;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#result table {
    margin: auto;
}

#result table, #result th, #result td {
    border: 1px solid black;
}

#result tr:first-child {
    background-color: aqua;
    position: sticky;
    top: 0;
}

#result td:first-child {
    background-color: aqua;
    position: sticky;
    left: 0;
}